.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
}

#middlePanel {
  flex: 82%;
  opacity: 0.4;
  position: relative;
}

.middleBtn {
  padding-right: 40px;
}

html,
body {
  height: 100%;
}

body {
  font: 12px/1 "Montserrat", sans-serif;
}

.tittleBottom {
  color: white;
}

.tittleCenter {
  color: white;
}
.tittleTop {
  color: white;
  padding-top: 30px;
}

#containerTop {
  padding-top: 20px;
  padding-bottom: 30px;
}

#containerCenter {
  padding-top: 50px;
  padding-bottom: 30px;
}

#containerBottom {
  padding-top: 50px;
}

.topBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#btnContainer {
  padding-top: 420px;
}

label {
  padding-right: 30px;
  color: white;

  padding-top: 260px;
}

tr:hover {
  background-color: rgb(92, 131, 82);
}

.tblbtn {
  padding-left: 300px;
}

#textRight {
  padding-top: 630px;
  color: white;
  padding-bottom: 30px;
}

.container:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("/kendrick.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

span {
  padding-right: 30px;
  padding-bottom: 400px;
  color: white;
}

#site-search {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("/icons/search.png");
  background-repeat: no-repeat;
  height: 20px;
}

#btns {
  padding-top: 80px;
  padding-bottom: 20px;
}

#list {
  padding-bottom: 200px;
}

#latest {
  padding-top: 80px;
  padding-bottom: 20px;
}

#imgpanther {
  padding-top: 5px;
}

#panther {
  padding-left: 20px;
}

#popular {
  padding-bottom: 20px;
  padding-top: 60px;
}

.icon-bar {
  flex: 18%;
  opacity: 0.4;
}

.icon-bar element:hover {
  background-color: green;
}

#element {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.imgp {
  padding-right: 20px;
}

.FirstMenu {
  padding-bottom: 40px;
  margin-top: 20px;
  padding-top: 40px;
  color: white;
}
.SecondMenu {
  padding-bottom: 40px;
  color: white;
}
.ThirdMenu {
  padding-bottom: 40px;
  color: white;
}

.menuText {
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  float: left;
}

#elementTable {
  padding-right: 260px;
}

td,
tr {
  text-align: left;
}

#tablecontainer {
}

#listtablecontainer {
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#pipe {
}

#wraptext {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 40px;
}

#rightTittle {
  color: white;
  position: absolute;
}
#rightBigTittle {
  color: white;
  position: absolute;
}
