.CarBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.car {
  color: rgb(240, 240, 240);
  padding: 15px;
  background-color: rgb(201, 131, 1);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 15%;
  height: 350px;
}

.unlockButton {
  margin-top: 90px;
  border-radius: 10px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: beige;
  padding: 5px;
  box-shadow: 0px 2px 8px;
}

.unlockButton:hover {
  background-color: rgb(122, 197, 88);
  box-shadow: 0px 5px 8px;
}

.unlockButton:active {
  background-color: red;
}

.carPark {
  justify-content: center;
  margin: 20px auto;
}
