body {
  position: relative;
  /* font-size: 18px; */
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: "Soleil", Helvetica, Arial, sans-serif;

  color: rgb(41, 39, 39);
  width: 90%;
  margin: 0px auto;
}

.menu {
  display: flex;
  /* border: 3px solid darkblue; */
  box-sizing: border-box;
  border-radius: 5px;
  /* padding: 5px 0px; */
  margin: 0px 0px;
}
ul > div {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  margin: 0px 0px;
}
nav > ul {
  position: relative;
  display: flex;
  margin: 10px 0px;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px 10px;
  width: 100%;
  font-size: 0.8em;
  text-decoration: none;
  color: rgb(41, 39, 39);
}
.menu a:hover {
  color: #00a82d;
  box-sizing: border-box;
  padding-top: 2px;
  border-bottom: 2px solid #00a82d;
}

ul > div:first-child {
  text-transform: uppercase;
}
#download > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00a82d;
  border: 2px solid #00a82d;
  height: 2em;
  margin: 1em 1em;
  padding: 0.5em 1.6em;
  border-radius: 6px;
}

/* .menu > a > strong {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
@media screen and (max-width: 720px) {
  body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
  }
  .menu {
    display: inline;
    border: 3px solid red;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 8px;
    background: white;
  }
  .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
} */

#reasons {
  /* border: 1px solid blue; */
  /* background: blue; */
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}

.box {
  box-sizing: border-box;
  width: 23%;
  padding: 10px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  justify-content: space-around;
}

.box p {
  font-size: 1.1em;
  line-height: 1.5;
}
section > p {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  text-align: center;
  width: 80%;
  margin: 10px auto;
}

section > h1 {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  font-size: 3.5em;
  font-family: "Soleil_Medium", Helvetica, Arial, sans-serif;
}

section > a {
  font-size: 1em;
  position: relative;
  display: block;
  width: 20%;
  margin: 1em auto 4em auto;
  text-align: center;
  background: #00a82d;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 2px;
  padding: 1em 1.9em;
  font-family: "Soleil", Helvetica, Arial, sans-serif;
}
