body {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  color: rgb(30, 30, 30);
}
div {
  display: inline-flexbox;
}
nav {
  display: flex;
  justify-content: space-between;
}
li {
  display: inline-flexbox;
}
a {
  display: inline;
}

.menu {
  display: inline;
  border: 3px solid rgb(56, 138, 120);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 8px;
  background: rgb(117, 185, 170);
  color: #fff;
}
