<<<<<<< HEAD
.blue {
  color: blue;
}
#prve {
  color: cyan;
}

div {
  border: solid 1px;
}

td {
  border: 0.5px solid black;
}
table {
  border: 1px solid black;
=======
td {
  border: 1px solid black;
}
li {
  color: green;
}
#prve-menu {
  color: red;
}
.modre {
  color: blue;
>>>>>>> dalibor
}
