body {
  background: black;
}
#game {
  width: 400px;
  height: 400px;
  background: url("assets/floor_3.png");
  margin: 0 auto;
  position: relative;
}
#wizzard {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
#demon {
  position: absolute;
  top: 0;
  left: 200px;
}
#score {
  color: aliceblue;
}
