body {
  background: black;
}
#game {
  width: 400px;
  height: 400px;
  background: url(/lesson11/assets/floor_1.png);
  margin: 0 auto;
  position: relative;
}
#wizard {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#demon {
  position: absolute;
  top: 0px;
  left: 200px;
}
#score {
  color: white;
}
