body {
  background: black;
}
#game {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  background: url("assets/floor_1.png");
}

#wizzard {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#deamon {
  position: absolute;
  top: 0px;
  left: 200px;
}
