body {
  background: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game {
  width: 400px;
  height: 400px;
  background: url(assets/floor_1.png);
  margin: 0 auto;
  position: relative;
  display: flex;
}

.hero {
  position: absolute;
  z-index: 1000;
}

.demon {
  position: absolute;
}

#score {
  color: #fff;
}

#victory {
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin: auto;
}
