body {
  background: black;
}

#game {
  width: 400px;
  height: 400px;
  background: url(assets/floor_1.png);
  margin: 0 auto;
  position: relative;
  display: flex;
}

.hero {
  position: absolute;
  z-index: 1000;
}

.demon {
  position: absolute;
}

#score {
  color: #fff;
}
#endGame {
  text-align: center;
  margin: auto;
  position: relative;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
