#button {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  float: right;
}
#button2 {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  float: right;
}
#box1 {
  width: 75px;
  height: 75px;
  background: red;
  max-width: 500px;
  max-height: 500px;
}
#box2 {
  width: 75px;
  height: 75px;
  background: blue;
  margin-top: 200px;
  position: relative;
}
#box1Width {
  max-height: 500px;
}
#box2Width {
  max-width: 800px;
}
