:root {
  --darker-gray: #323232;
  --spotify-green: #01b949;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url("../assets/nirvana_background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vh;
}

#contentWrapper {
  height: -webkit-fill-available;
  padding: 25px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
}

.mainScreen {
  color: white;
}

.section {
  color: var(--darker-gray);
  margin-left: 15px;
}

#first {
  flex: 20%;
}

.leftContent {
  height: 33%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

#second {
  flex: 80%;
}

#searchBar {
  height: 10%;
}

#artist {
  height: 20%;
}

#tabs {
  height: 10%;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.tabItems {
  margin: 0px 50px -0 0;
  padding: 10px;
}

.fas {
  margin: 0 20px;
}

.albumImage {
  width: 7vh;
  height: 7vh;
  border-radius: 5px;
}

.icons {
  width: 10px;
  height: 10px;
}

.similarArtistsImage {
  width: 7vh;
  height: 7vh;
  border-radius: 7vh;
}

#magnifier {
  background-color: white;
}

#searchBar {
  background: white;
  height: 20px;
}

#searchInput {
  border: none;
}

#topBar {
  display: flex;
  justify-content: space-between;
}

.songDetail {
  display: flex;
  justify-content: space-between;
}

#popular {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.leftTabs {
  padding: 20px;
}

.songDetail {
  align-items: center;
  text-align: right;
}

.similarArtistsBox {
  width: 15%;
  display: flex;
  align-items: center;
}

.albumBox {
  width: 30%;
  text-align: left;
  display: flex;
  align-items: center;
}
