/* declaring page colors */
:root {
  --darker-gray: #323232;
  --spotify-green: #01b949;
}

/* page height */
html {
  height: 100%;
  overflow: hidden;
}

/* body style settings */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/nirvana_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vh;
  display: flex;
}
/* page wrapper settings */
#contentWrapper {
  flex: 80%;
  height: -webkit-fill-available;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

/* font color for whole page */
.mainScreen {
  display: flex;
  flex-direction: column;
  color: white;
}

.section {
  color: var(--darker-gray);
  margin-left: 15px;
}

#first {
  flex: 20%;
  padding-left: 25px;
  padding-top: 25px;
  /* background: rgba(0, 0, 0, 0.8); */
}

#bottomContent {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#songs {
  flex: 80%;
}

#discoverSection {
  flex: 10%;
}

#librarySecttion,
#playlistsSection {
  flex: 25%;
}

.leftContent {
  /* height: ; */
  /* justify-content: space-around; */
  display: flex;
  flex-direction: column;
}

#tabs {
  display: flex;
  padding: 0px;
  align-items: center;
}

#tabs > * {
  margin: 50px 100px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.songSection:hover,
.actionButtons:hover {
  background: var(--spotify-green);
  /* border-radius: 100px; */
}

/* .fas {
  position: absolute;
  left: 95px;
} */

.albumImage {
  width: 7vh;
  height: 7vh;
  border-radius: 5px;
}

.icons {
  width: 8px;
  height: 8px;
}

.similarArtistsImage {
  width: 7vh;
  height: 7vh;
  border-radius: 7vh;
}

#magnifier {
  background-color: white;
}

#popular,
#fansAlsoLike {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#popular {
  flex: 80%;
}

#fansAlsoLike {
  flex: 20%;
}

.leftTabs {
  padding: 20px;
}

.songDetail {
  align-items: center;
  /* text-align: right; */
  display: flex;
  justify-content: space-between;
}

.similarArtistsBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.albumBox {
  width: 30%;
  text-align: left;
  display: flex;
  align-items: center;
}

.songDetail > * {
  width: 15%;
}

.playPauseButton > * {
  position: relative;
  left: 0px;
}

.songSection {
  border-radius: 2vw;
  width: fit-content;
  padding: 15px 125px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#actionButtonId {
  width: 25vw;
  display: flex;
  align-items: center;
}

.actionButtons {
  width: 30%;
  height: 4vh;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButtonsClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topBar {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 5%;
}

#topBar[i] {
  position: relative;
  left: 0px;
}

#topBar > * {
  display: flex;
  height: 100%;
  align-items: center;
}

.navigationArrows > * {
  position: relative;
  left: 0px;
}

.navigationArrows {
  color: var(--darker-gray);
}

.navigationArrows:hover {
  color: white;
}

#searchBar {
  display: flex;
  background: white;
  padding: 5px 0px;
  border-radius: 20px;
  width: 15vw;
  height: 2.5vh;
  color: black;
  align-items: center;
}

#searchBar.input {
  height: 100%;
}

#searchIcon {
  margin: 20px;
}

#bellIcon,
#downArrowIcon,
#playIcon {
  position: relative;
  left: 0px;
}
#searchInput {
  border: none;
  height: 90%;
  width: 80%;
  font-size: 26px;
}

::placeholder {
  color: black;
  font-size: 1.5vh;
  font-weight: bold;
  text-align: left;
}

.dotUnderTabs {
  margin-top: 10px;
  visibility: hidden;
  padding: 0px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: var(--spotify-green);
}

.tabItems:hover .dotUnderTabs {
  visibility: visible;
}
.tabItems:hover {
  color: var(--spotify-green);
}

#monthly {
  color: var(--darker-gray);
  text-align: right;
  font-weight: bold;
}

#monthly > * {
  margin: 15px;
}

.playPauseButton {
  visibility: hidden;
}

.songDetail:hover {
  color: var(--spotify-green);
}

.songDetail:hover .playPauseButton {
  color: white;
  visibility: visible;
}

#avatar {
  border: 7px solid white;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.fa-play {
  font-size: 1vh;
}

#dotsIcon {
  position: relative;
  left: 0px;
  width: 50px;
  border-radius: 50px;
}

#artist {
  margin-top: 50px;
}

.songInformation {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

footer {
  height: 8%;
  background: red;
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0px;
}

#accountDetails {
  width: 25%;
  justify-content: space-evenly;
}

#avatarDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navigationSearchWrapper {
  width: 25%;
}

#navigationSearchWrapper > * {
  margin: 0 auto;
}
