.mainContainer {
  margin: 0 px auto;
  padding: 0px auto;
}
.headerContainer {
  margin: 0 px auto;
  padding: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#bigLogo {
  justify-content: center;
}
#leftMenu {
  justify-content: left;
}
#rightMenu {
  justify-content: right;
}
