body {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #000;
  padding-top: 10px;
}

header {
  display: flex;
}

center {
  width: 100%;
}

.menu {
  display: inline-flex;
  justify-content:space-between;
}
.menu a{
  text-decoration-line: none;
  font-weight: bolder;
}
.menu a:hover {
  color:green;
}
.menuRight {
  display:inline-flex;
  flex-direction::row-reverse;
}

.menuRight a{
  text-decoration-line: none;
}

#center {
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-right:10px;
  padding: 70px 0;
  width: 100%;
  text-align: center;
}
#center h1 {
  font-size: 4rem;
}
#center p {
  margin:20px;
  padding:0px;
  font-size:1.6rem;
  line-height: normal;
  width:100%;
  text-align: center;
}
#start {
    color:#fff;
    background-color: #018324;
    border: 1px solid black;
    display:inline-flex;
    justify-content: center;
    font-size: 16;
    padding: 10px 40px;
    width:20%;
    text-decoration-line: none;
}
#start:hover {
  color:#fff;
  background-color: #3aaf59;
  border: 1px solid black;
  display:inline-flex;
  justify-content: center;
  font-size: 16;
  padding: 10px 40px;
  width:20%;
  text-decoration-line: none;
}
#reasons {
  width: 85%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.box {
  box-sizing: border-box;
  width: 23%;
  padding: 10px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 7px;
}
.box p (
    font-size: 1.2rem;
}

