:root {
  --color-white: #f6f6f6;
  --color-green: #00b849;
  --color-black: #0a0a0a;
  --color-grey: #2a2a2a;
  --color-darkGreen: #098b3a;
}

.main {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 18px;
  width: 100vw;
  height: 100vh;
}

.section_left {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section_right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list-header {
  color: var(--color-grey);
}

.body_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  height: 10%;
}

.body_middle {
  display: flex;
  flex-direction: column;
}

.mid_mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ul_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
}

.user {
  display: flex;
  flex-direction: row;
}

.user_info {
  display: flex;
  flex-direction: row;
}

.nav_item {
  padding: 5% 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

i {
  padding-right: 10%;
}

li {
  list-style: none;
}
#plus {
  padding-left: 50%;
}

.page_arrows {
  display: flex;
  flex-direction: row;
}
.arrow {
  padding: 10%;
}

.top_left {
  display: flex;
  flex-direction: row;
}

#artist {
  display: flex;
  flex-direction: row;
}

.artist {
  justify-content: unset;
}

.artist_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.right_bottom {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.main_buttons {
  margin-right: 10px;
  height: 27px;

  padding: 0 15px;
  font-weight: 500;
}

#Spot_logo {
  padding: 0%;
  color: var(--color-grey);
}

#Spotify {
  color: var(--color-grey);
  font-size: 25px;
}
