:root {
  --color-white: #f6f6f6;
  --color-green: #00b849;
  --color-black: #0a0a0a;
  --color-grey: #2a2a2a;
  --color-darkGreen: #098b3a;
  --color-transparent: rgba(255, 255, 255, 0.15);
}

.main {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 18px;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.section_left {
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section_right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list-header {
  color: var(--color-grey);
}

.body_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  height: 10%;
}

.body_middle {
  display: flex;
  flex-direction: column;
}

.mid_mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ul_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  padding-inline-start: 0px;
}

.user {
  display: flex;
  flex-direction: row;
  width: 35%;
}

.user_info {
  display: flex;
  flex-direction: row;
}

.nav_item {
  padding: 5% 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

i {
  padding-right: 10%;
}

li {
  list-style: none;
}
#plus {
  padding-left: 50%;
}

.page_arrows {
  display: flex;
  flex-direction: row;
}
.arrow {
  padding: 10%;
}

.top_left {
  display: flex;
  flex-direction: row;
}

#artist {
  display: flex;
  flex-direction: row;
}

.artist {
  justify-content: unset;
}

.artist_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  width: 100%;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right_bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right_middle {
  color: var(--color-grey);
}

.main_buttons {
  margin-right: 10px;
  height: 27px;

  padding: 0 15px;
  font-weight: 500;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
  width: 100%;
}
.overview_artist {
  width: 75%;
}

#Spot_logo {
  padding: 0%;
  color: var(--color-grey);
}

#Spotify {
  color: var(--color-grey);
  font-size: 25px;
}

.track_title {
  margin-left: 2%;
  margin-right: 25%;
  margin-top: 5%;
}

.explicit {
  margin-left: 2%;
  margin-right: 10%;
  margin-top: 5%;
  color: var(--color-transparent);
}

.length {
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 5%;
}

.track_plays {
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 5%;
}

.overview_related {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  justify-content: inherit;
  margin-top: 4%;
}

#bell {
  margin-top: 13%;
  margin-left: 3%;
}

#premium {
  border-radius: 35px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--color-white);
  padding: 5%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 7%;
  margin-right: 3%;
  font-size: 17px;
  border: none;
}
#Asylab {
  height: 65%;
  margin-top: 5%;
  margin-top: 18%;
}

#user {
  margin-top: 30%;
  font-size: 20px;
}

#dots {
  border-radius: 60%;
  padding-top: 2%;
  padding-bottom: 6%;
  padding-left: 3%;
  padding-right: 4%;
}

#down_arrow {
  padding-top: 30%;
  padding-left: 4%;
}

.buttons {
  width: 40%;
}

.main_buttons {
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--color-white);
  border-radius: 35px;
  font-size: 16px;
  margin: 3%;
  background: transparent;
  padding-left: 7%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 7%;
  border: none;
}

.nav_item:hover {
  background-color: var(--color-green);
  border-radius: 30px;
  cursor: pointer;
  width: 60%;
  padding-left: 2%;
}

.main_buttons:hover {
  background-color: var(--color-green);
  border-radius: 30px;
  cursor: pointer;
}

#premium:hover {
  background-color: var(--color-green);
  border-radius: 30px;
  cursor: pointer;
}

.ul_nav > li:hover {
  color: var(--color-green);

  cursor: pointer;
}

.track:hover {
  color: var(--color-green);
  cursor: pointer;
}

img {
  height: 36px;
  border-radius: 90%;
  margin-top: 1%;
}

.related_artist_name {
  margin-top: 1%;
}
