@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-darkPastelGreen: #01b949;
  --color-lightGrey: #d7d7d7;
  --color-malibu: #68abdd;
  font-size: 12px;
  list-style: none;
}
.main_box {
  position: relative;
  background-image: url("assets/eminem-background.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  opacity: 0, 5;
  display: flex;
}
.main_box .sidebar_menu {
  height: 100vh;
  width: 240px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .menu {
  width: 100%;
}
.sidebar_menu .spotify-icon {
  color: #d7d7d7;
  opacity: 70%;
  pointer-events: none;
}
#spotify-icon {
  padding-right: 2px;
}
.sidebar_menu .menu li {
  padding: 10px 20px;
}

.side-menu-containers {
  margin-left: 13px;
}
.sidebar_menu .menu i {
  color: #fff;
  padding-right: 14px;
}
.sidebar_menu .menu a {
  color: #fff;
  font-size: 10px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #01b949;
  /* width: 180px; */
  width: fit-content;
  cursor: pointer;
}
.sidebar_menu .menu .spotify-top {
  margin-top: 30px;
}
.heading-of-li {
  color: #d7d7d7;
  padding-bottom: 5px;
  margin-left: 16px;
  margin-top: 10px;
  opacity: 70%;
}

.playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d7d7d7;
  padding-bottom: 5px;
  position: relative;
}
#side-bar-playlist-plus-icon {
  position: absolute;
  top: 15px;
  right: 40px;
  cursor: pointer;
}
.second {
  width: 100%;
  color: white;
  height: 100%;
}
.discover {
  padding-top: 8px;
}
/* NAVIGATION BAR TOP  */
.navbar {
  display: flex;
  height: auto;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 13px 5px;
}
.navbar__container .search-container {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.searchbox {
  background-color: white;
  border-radius: 15px;
  align-items: center;
  height: max-content;
  padding: 4px;
}
.searchbox i {
  padding-left: 10px;
}
#search-input {
  border: none;
}
.navbar__container .search-container .searchbox {
  color: rgb(80, 79, 79);
}
.navbar__container-left-arrows i {
  margin-right: 10px;
  font-size: 15px;
}
.navbar__container-left-arrows {
  margin-right: 25px;
}
.navbar__container-left-arrows #right {
  opacity: 50%;
  padding-left: 12px;
}

/* navbar content right */
.navbar__container-right {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
  margin-right: 21px;
}
.navbar__container-right button {
  background-color: #373737;
  color: white;
  padding: 4px 16px;
  border-radius: 15px;
  border: none;
}
.navbar__container-right-user {
  display: flex;
  align-items: center;
}
.bell-icon-container {
  position: relative;
}
.bell-icon-container span {
  position: absolute;
  /* font-size: 10px; */
  background-color: var(--color-darkPastelGreen);
  bottom: 8px;
  left: 7px;
  width: 12px;
  height: 12px;
  border-radius: 13px;
  border: 2px solid black;
  z-index: 5;
}
.navbar__container-right-user * {
  padding: 0 4px;
}
.navbar__container-right-user i {
  font-size: 15px;
}
.navbar__container-right i:last-of-type {
  font-size: 13px;
  font-weight: 700;
}
/* main section */
.section {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.section-artist {
  display: flex;
  padding-top: 10px;
  align-items: center;
}
.section-artist i {
  margin-left: 5px;
  color: #1687fc;
}
.section-artist h3 {
  font-weight: 500;
}
.section__main-headline {
  font-size: 3rem;
  font-weight: 900;
}
.section__main-buttons {
  margin-bottom: 20px;
}
.section__main-buttons button {
  background-color: #3737377d;
  color: white;
  padding: 4px 0px;
  border-radius: 15px;
  border: none;
  margin-right: 10px;
  width: 100px;
  cursor: pointer;
}
.section__main-buttons span {
  background-color: #3737377d;
  padding: 6px 9px;
  border-radius: 17px;
  cursor: pointer;
}
.section__main__buttons-play i {
  margin-right: 10px;
}
.section__main-buttons button:hover {
  background-color: var(--color-darkPastelGreen);
}
.section__main-buttons span:hover {
  background-color: var(--color-darkPastelGreen);
}
.section__main-list-ul {
  display: flex;
}
.section__main-list-ul li {
  padding: 5px 0px;
  padding-right: 25px;
  margin-right: 15px;
  margin-left: 7px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.section__main-list-ul li:hover {
  color: var(--color-darkPastelGreen);
}
/* #dot:hover {
  position: absolute;
  height: 6px;
  width: 6px;
  display: block;
  background-color: aliceblue;
  top: 0;
  left: 0;
  border-radius: 5px;
} */
.section--latest_releases {
  font-weight: 500;
  margin-bottom: 20px;
}
.latest_releases-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}
.latest_releases-container:hover #latest_releases_container_img-p {
  color: var(--color-darkPastelGreen);
}
.latest_releases-container-img {
  height: 3rem;
}
.latest_releases-container-img img {
  height: 100%;
  width: 36px;
  margin-right: 20px;
  border-radius: 5px;
}
/* popular section */
.popular {
  margin-right: 30%;
  margin-bottom: 15px;
}
.popular-item {
  display: flex;
  justify-content: space-between;
}

.popular_item-left {
  display: flex;
  height: 3rem;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.popular_item-left:hover #popular_item-pause {
  display: block;
}
.popular_item-left:hover #popular_item-name {
  color: var(--color-darkPastelGreen);
}
.popular_item-left img {
  width: 36px;
  height: 100%;
  border-radius: 5px;
}
.popular_item-left i {
  font-size: 15px;
  display: none;
  position: absolute;
  top: 18px;
  right: 61%;
}
.popular_item-left p {
  padding-left: 40px;
}
.popular_item-right {
  display: flex;
  align-items: center;
}

.popular_item-right button {
  border: 2px solid #807f7f;
  background-color: transparent;
  color: #807f7f;
  font-weight: 500;
  border-radius: 16px;
  padding: 1px 10px;
  font-size: 0.8rem;
  margin-right: 18%;
}
.popular_item-right p {
  color: white;
  margin-right: 18%;
}
.popular_item-right:hover #popular_item_right-button {
  border: 2px solid var(--color-darkPastelGreen);
  color: var(--color-darkPastelGreen);
}
.popular_item-right:hover #popular__item_right-p {
  color: var(--color-darkPastelGreen);
}
.popular_item-right:hover #popular__item_right-p-second {
  color: var(--color-darkPastelGreen);
}
@media screen and (max-width: 600px) {
  .main_box .sidebar_menu {
    display: none;
  }
}
