.dogInfo {
  width: 280px;
  margin: 0px auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.key {
  width: 30%;
  text-align: left;
  margin: 2px 0px;
}

.value {
  width: 50%;
  text-align: left;
  margin: 2px 0px;
}
