:root {
  --color-mainGreen: #01b949;
  --color-darkerGreen: #0a7a34;
  --color-mainWhite: #ececec;
  --color-darkerWhite: #dadada;
  --color-background: #0a0a0a;
}
#pageContent {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 100%;
  position: absolute;
  background-color: var(--color-background);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#leftSideNavBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  color: var(--color-darkerWhite);
  background-color: var(--color-background);
}
#leftMenuItem1 {
  padding-top: 10px;
  padding-left: 10px;
  height: 8%;
}
#spotifyIcon {
  height: 90%;
  background: transparent;
}
.discoverNav {
  padding: 10px;
}
#discoverNavLabel {
  color: #343434;
  opacity: 0.9;
  margin-left: 15px;
}
#discoverItem1 {
  padding: 8px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 0.8rem;
}
#explorePic {
  height: 8%;
  width: 8%;
  padding-right: 10px;
}
#discoverItem2 {
  padding: 8px;
  padding-left: 30px;
  font-size: 0.8rem;
}
#radioPic {
  height: 8%;
  width: 8%;
  padding-right: 10px;
}
.libraryNav {
  padding: 10px;
}
#libraryNavLabel {
  color: #343434;
  opacity: 0.9;
  margin-left: 15px;
}
#libraryItem1 {
  padding: 8px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 0.8rem;
}
#songsPic {
  height: 10%;
  width: 10%;
  padding-right: 10px;
}
#libraryItem2 {
  padding: 8px;
  padding-left: 30px;
  font-size: 0.8rem;
}
#albumsPic {
  height: 10%;
  width: 10%;
  padding-right: 10px;
}
#libraryItem3 {
  padding: 8px;
  padding-left: 30px;
  font-size: 0.8rem;
}
#artistsPic {
  height: 10%;
  width: 10%;
  padding-right: 10px;
}
#libraryItem4 {
  padding: 8px;
  padding-left: 30px;
  font-size: 0.8rem;
}
#favoritesPic {
  height: 10%;
  width: 10%;
  padding-right: 10px;
}
.playlistsNav {
  padding: 10px;
}
#playlistsNavLabel {
  color: #343434;
  opacity: 0.9;
  margin-left: 15px;
}
#playlistsItem1 {
  padding: 8px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 0.8rem;
}
#playlistsItem2 {
  padding: 8px;
  padding-left: 30px;
  font-size: 0.8rem;
}
#playlistsItem3 {
  padding: 8px;
  padding-left: 30px;
  font-size: 0.8rem;
}
#playlistsItem4 {
  padding: 8px;
  padding-left: 30px;
  font-size: 0.8rem;
}
.listPic {
  height: 10%;
  width: 10%;
  padding-right: 10px;
}
.rightPageSide {
  color: var(--color-darkerWhite);
  display: flex;
  flex-direction: column;
  width: 80%;
}
#topNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  padding: 15px;
  margin-top: 10px;
}
#topNavLeft {
  display: flex;
  flex-direction: row;
  width: 40%;
}
#backArrow {
  height: 60%;
  width: 80%;
  margin-right: 7px;
}
#forwardArrow {
  margin-left: 7px;
  height: 60%;
  width: 80%;
}
#searchIcon {
  width: 20%;
  height: 80%;
}
#topNavLeft input[type="text"] {
  padding: 6px;
  border-radius: 20px;
  width: 100%;
}
#topNavRight {
  display: flex;
  flex-direction: row;
  width: 40%;
}
#premiumText {
  background-color: rgba(87, 87, 87, 0.5);
  height: 45%;
  width: 20%;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  font-size: 1rem;
}
#bellIcon {
  height: 60%;
  width: 4%;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}
#asylabLogo {
  width: 8%;
  margin-right: 10px;
}
#asylabText {
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
}
#downArrow {
  height: 60%;
  margin-top: 10px;
}
.artistSection {
  margin-top: 20px;
  width: 100%;
}
#artist {
}
#nameOfArtist {
  font-size: 2.5rem;
}
.playSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  width: 98%;
}
.leftSidePlaySection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}
#playButton {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--color-mainGreen);
  width: 30%;
  text-align: center;
}
#playIcon {
  width: 20%;
  height: 80%;
}
#followButton {
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(169, 169, 169, 0.3);
  width: 30%;
  text-align: center;
}
#monthlyListeners {
  margin-right: 80px;
}
#monthlyListNumber {
  text-align: right;
  margin-right: 80px;
}
.rightSidePlaySection {
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigationSection {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
#overview {
  width: 15%;
}
#fansAlsoLike {
  width: 15%;
}
#about {
  width: 15%;
}
#concerts {
  width: 15%;
}
.latestRelease {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.latestReleaseDetails {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
}
#flexLRRow {
  display: flex;
  flex-direction: row;
}
#latestAlbum {
  margin-top: 10px;
  width: 7%;
  height: 70%;
}
#sm2 {
  width: 80%;
  height: 100%;
}
#songListTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}
#song1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
#fansAlsoLikeRight {
  margin-right: 150px;
}
#MoP {
  height: 4%;
  width: 4%;
}
#song1Text {
  margin-left: 20px;
  padding: 8px;
  width: 35%;
}
#song2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
#ajfa {
  width: 4%;
  height: 4%;
}
#song2Text {
  margin-left: 20px;
  padding: 8px;
  width: 35%;
}
#song3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
#tba {
  width: 4%;
  height: 4%;
}
#song3Text {
  margin-left: 20px;
  padding: 8px;
  width: 35%;
}
#song4 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
#dm {
  width: 4%;
  height: 4%;
}
#song4Text {
  margin-left: 20px;
  padding: 8px;
  width: 35%;
}
.songInfo {
  border-color: white;
  border-width: 10px;
  border-radius: 20px;
  width: 10%;
}
.songLength {
  width: 10%;
}
.songListens {
  width: 10%;
}
.bandPicRightSide {
  width: 20%;
  margin-left: 60px;
}
.bandPic {
  height: 60%;
  width: 15%;
  border-radius: 30px;
}
