.flat {
  margin: 20px;
  border: 0.5px solid thistle;
}

.rooms {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 20px;
}

.room {
  width: 200px;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: rgb(240, 224, 240);
}

.room:hover {
  background-color: thistle;
}

.sofa {
  margin: 10px;
}

.light {
  margin: 10px;
}

.heater {
  margin: 10px;
}
